<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Hamza Mansha</title>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/unicons.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">

  <!-- MAIN STYLE -->
  <link rel="stylesheet" href="css/tooplate-style.css">

  <!--

Edited By Muhammad Hammad Mansha

-->
</head>

<body>

  <!-- MENU -->
  <nav class="navbar navbar-expand-sm navbar-light">
    <div class="container">
      <a class="navbar-brand" href="#"><i class='uil uil-user'></i>Muhammad Hammad Mansha</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a href="#about" class="nav-link"><span data-hover="About">About</span></a>
          </li>
          <li class="nav-item">
            <a href="#project" class="nav-link"><span data-hover="Projects">Projects</span></a>
          </li>
          <li class="nav-item">
            <a href="#resume" class="nav-link"><span data-hover="Resume">Resume</span></a>
          </li>
          <li class="nav-item">
            <a href="#contact" class="nav-link"><span data-hover="Contact">Contact</span></a>
          </li>
        </ul>

        <ul class="navbar-nav ml-lg-auto">
          <div class="ml-lg-4">
          </div>
        </ul>
      </div>
    </div>
  </nav>

  <!-- ABOUT -->
  <section class="about full-screen d-lg-flex justify-content-center align-items-center" id="about">
    <div class="container">
      <div class="row">

        <div class="col-lg-7 col-md-12 col-12 d-flex align-items-center">
          <div class="about-text">
            <small class="small-text">Welcome to <span class="mobile-block">my portfolio website!</span></small>
            <h1 class="animated animated-text">
              <span class="mr-2">Hey folks, I'm</span>
              <div class="animated-info">
                <span class="animated-item">Hammad Mansha</span>
                <span class="animated-item">MERN Developer</span>
              </div>
            </h1>

            <p>Building a successful product is a challenge. I am highly energetic in user experience Web Development.
            </p>

            <div class="custom-btn-group mt-4">
              <a href="#" onclick="alert('Resume is not Available yet')" class="btn mr-lg-2 custom-btn"><i
                  class='uil uil-file-alt'></i> Download Resume</a>
              <a href="#contact" class="btn custom-btn custom-btn-bg custom-btn-link">Contact Me</a>
            </div>
          </div>
        </div>

        <!-- <div class="col-lg-5 col-md-12 col-12">
          <div class="about-image svg">
            <img src="images/undraw/Hamza7.jpeg" style="border-radius: 20px;" class="img-fluid"  alt="svg image">
          </div>
        </div> -->

      </div>
    </div>
  </section>

  <!-- PROJECTS -->
  <section class="project py-5" id="project">
    <div class="container">

      <div class="row">
        <div class="col-lg-11 text-center mx-auto col-12">

          <div class="col-lg-8 mx-auto">
            <h2>Things I have Made for digital media agencies</h2>
          </div>

          <div class="owl-carousel owl-theme">
            <div class="item">
              <div class="project-info">
                <img src="images/project/project-image01.png" class="img-fluid"  alt="project image">
              </div>
            </div>

            <div class="item">
              <div class="project-info">
                <img src="images/project/project-image02.png" class="img-fluid"  alt="project image">
              </div>
            </div>

            <div class="item">
              <div class="project-info">
                <img src="images/project/project-image03.png" class="img-fluid"  alt="project image">
              </div>
            </div>

            <div class="item">
              <div class="project-info">
                <img src="images/project/project-image04.png" class="img-fluid"  alt="project image">
              </div>
            </div>

            <div class="item">
              <div class="project-info">
                <img src="images/project/project-image05.png" class="img-fluid"  alt="project image">
              </div>
            </div>
            
            <div class="item">
              <div class="project-info">
                <img src="images/project/project-image06.png" class="img-fluid"  alt="project image">
              </div>
            </div>
            
            <div class="item">
              <div class="project-info">
                <img src="images/project/project-image07.png" class="img-fluid"  alt="project image">
              </div>
            </div>
            
            <div class="item">
              <div class="project-info">
                <img src="images/project/project-image08.png" class="img-fluid"  alt="project image">
              </div>
            </div>
            
            <div class="item">
              <div class="project-info">
                <img src="images/project/project-image09.png" class="img-fluid"  alt="project image">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <!-- FEATURES -->
  <section class="resume py-5 d-lg-flex justify-content-center align-items-center" id="resume">
    <div class="container">
      <div class="row">

        <div class="col-lg-6 col-12">
          <h2 class="mb-4">Experiences</h2>

          <div class="timeline">
            <div class="timeline-wrapper">
              <div class="timeline-yr">
                <span>1.</span>
              </div>
              <div class="timeline-info">
                <h3><span> Xiram Soft </span><small>Still Here</small></h3>
                <p>Now I'm Working at Xiram Soft. Since 2020</p>
              </div>
            </div>

            <div class="timeline-wrapper">
              <div class="timeline-yr">
                <span>2.</span>
              </div>
              <div class="timeline-info">
                <h3><span>Accountant</span><small>1 Years</small></h3>
                <p>5 months Accountant Experience at Al Shifa Lab Kasur</p>
              </div>
            </div>

            <div class="timeline-wrapper">
              <div class="timeline-yr">
                <span>3.</span>
              </div>
              <div class="timeline-info">
                <h3><span>Teaching Experience</span><small>6 month</small></h3>
                <p>I Have Done Teaching PIASS college for programming classes</p>
              </div>
            </div>

          </div>
        </div>

        <div class="col-lg-6 col-12">
          <h2 class="mb-4 mobile-mt-2">Educations</h2>

          <div class="timeline">
            <div class="timeline-wrapper">
              <div class="timeline-yr">
                <span>19-23</span>
              </div>
              <div class="timeline-info">
                <h3><span>Bachelor Of Science</span><small>In Computer</small></h3>
                <p>I have continued 5th semester in BS Information Technology from PIASS college.</p>
              </div>
            </div>

            <div class="timeline-wrapper">
              <div class="timeline-yr">
                <span>2019</span>
              </div>
              <div class="timeline-info">
                <h3><span>Intermediate</span></h3>
                <p> I Have Passed Intermediate in 2017 from Boston College Kasur with Grade A.</p>
              </div>
            </div>

            <div class="timeline-wrapper">
              <div class="timeline-yr">
                <span>2017</span>
              </div>
              <div class="timeline-info">
                <h3><span>Matriculation</span></h3>
                <p>I Have Passed Matriculation in 2017 from Allama Iqbal High School Kasur.</p>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- Skills -->
  <div class="container">
    <h1>Skill Set</h1>
    <!-- <div class="bar learning" data-skill="MS OFFICE"></div> -->
    <!-- <div class="bar learning" data-skill="MS OFFICE"></div> -->
    <!-- <div class="bar back basic" data-skill="Corel Draw"></div>
    <div class="bar back intermediate" data-skill="PHOTOSHOP"></div>
    <div class="bar front advanced" data-skill="INPAGE"></div>
    <div class="bar front expert" data-skill="VISUAL BASIC"></div> -->
    <div class="bar front intermediate" data-skill="MS OFFICE"></div>
    <div class="bar front intermediate" data-skill="Corel Draw"></div>
    <div class="bar back intermediate" data-skill="INPAGE"></div>
    <div class="bar front intermediate" data-skill="PHOTOSHOP"></div>
    <div class="bar front advanced" data-skill="JavaScript"></div>
    <div class="bar back intermediate" data-skill="React JS"></div>
    <div class="bar front intermediate" data-skill="Node JS"></div>
    <div class="bar back intermediate" data-skill="Mongo DB"></div>




  </div>
  <!-- CONTACT -->
  <section class="contact py-5" id="contact">
    <div class="container">
      <div class="row">

        <div class="col-lg-5 mr-lg-5 col-12">
          <div class="google-map w-100">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6167.211349108647!2d74.43483233983517!3d31.140479305546428!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3919ba3c0798b127%3A0x139e9592ed44284b!2sKhara%20Rd%2C%20Kasur%2C%20Punjab%2C%20Pakistan!5e0!3m2!1sen!2s!4v1637244797306!5m2!1sen!2s"
              width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>

          <div class="contact-info d-flex justify-content-between align-items-center py-4 px-lg-5">
            <div class="contact-info-item">
              <h3 class="mb-3 text-white">Say hello</h3>
              <p class="footer-text mb-0">+923013662885</p>
              <p><a href="mailto:hammadmansha100@gmail.com">hammadmansha100@gmail.com</a></p>
            </div>

            <!-- <ul class="social-links">
              <li><a href="https://web.facebook.com/profile.php?id=100008372384958" data-toggle="tooltip"
                  data-placement="left" title="facebook"> <i class="fab fa-facebook"></i> </a></li>
              <li><a href="#" data-toggle="tooltip" data-placement="left" title="Instagram"> <i
                    class="fab fa-instagram"></i></a></li>
              <li><a href="https://www.youtube.com/channel/UCcuRN8U9N3WkXu6Aj-kKvfw" data-toggle="tooltip"
                  data-placement="left" title="Youtube"> <i class="fab fa-youtube"></i></a></li>
            </ul> -->
          </div>
        </div>

        <div class="col-lg-6 col-12">
          <div class="contact-form">
            <h2 class="mb-4">Interested to work together? Let's talk</h2>

            <form action="/sendMessage" method="post">
              <div class="row">
                <div class="col-lg-6 col-12">
                  <input type="text" class="form-control" name="name" placeholder="Your Name" id="name" required>
                </div>

                <div class="col-lg-6 col-12">
                  <input type="email" class="form-control" name="email" placeholder="Email" id="email" required>
                </div>

                <div class="col-12">
                  <textarea name="message" rows="6" class="form-control" id="message" placeholder="Message"
                    required></textarea>
                </div>

                <div class="ml-lg-auto col-lg-5 col-12">
                  <input type="submit" class="form-control submit-btn" value="Send Message">
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- FOOTER -->
  <footer class="footer py-5">
    <div class="container">
      <div class="row">

        <div class="col-lg-12 col-12">
          <p class="copyright-text text-center">Copyright &copy; 2019 AH Soft . All rights reserved</p>
          <p class="copyright-text text-center">Edited by <a rel="nofollow"
              href="https://web.facebook.com/profile.php?id=100030165398325">Muhammad Hammad Mansha</a></p>
          <p class="copyright-text text-center">Contact: <a rel="nofollow"
              href="https://web.facebook.com/profile.php?id=100030165398325">http://wa.me/923013662885</a></p>
        </div>

      </div>
    </div>
  </footer>

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/Headroom.js"></script>
  <script src="js/jQuery.headroom.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/smoothscroll.js"></script>
  <script src="js/custom.js"></script>
  <script>
    const res = "<%= data %>";
    if (res === "saved") {
      alert("Data Saved")
    }
    else if (res === "failed") {
      alert("Error While Sending Message")
    }
    else {

    }
  </script>

</body>

</html>